{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'checkout' %}
{% endblock %}

{% block content %}
  <!-- Start Breadcrumb Section -->
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="index.html">صفحه نخست</a> <span class="mx-2 mb-0">/</span>
          <strong class="text-black">پیش فاکتور</strong>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Start Billing Section -->
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="bg-light rounded p-3">
            <p class="mb-0">
              هنوز ثبت نام نکرده اید؟ <a href="#" class="d-inline-block">همین حالا عضو شوید</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">جزئیات فاکتور</h2>
          <div class="p-3 p-lg-5 border">
            <form action="" method="post">
              {% csrf_token %}

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">نام شما <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="first_name" />
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">نام خانوادگی <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="last_name" />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_companyname" class="text-black">نام شهر</label>
                  <input type="text" name="city" class="form-control" id="c_companyname" name="c_companyname" />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">آدرس <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_address" name="address" placeholder="" />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_postal_zip" class="text-black">کد پستی <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_postal_zip" name="zip_code" />
                </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black">آدرس ایمیل <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="c_email_address" name="email" />
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">تلفن تماس <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="phone_number" placeholder="شماره همراه" />
                </div>
              </div>

              <div class="form-group">
                <label for="c_create_account" class="text-black" data-toggle="collapse" href="#create_an_account" role="button" aria-expanded="false" aria-controls="create_an_account"><input type="checkbox" value="1" id="c_create_account" />عضو سایت می شوید؟</label>
                <div class="collapse" id="create_an_account">
                  <div class="py-2">
                    <p class="mb-3">با عضویت در سایت از امکانت ویزه سایت برخوردار شوید.</p>
                    <div class="form-group">
                      <label for="c_account_password" class="text-black">رمز عبور</label>
                      <input type="email" class="form-control" id="c_account_password" name="c_account_password" placeholder="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="c_ship_different_address" class="text-black" data-toggle="collapse" href="#ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address" />ارسال محصول به آدرس دیگر؟</label>
                <div class="collapse" id="ship_different_address">
                  <div class="py-2">
                    <div class="form-group">
                      <label for="c_diff_country" class="text-black">کشور <span class="text-danger">*</span></label>
                      <select id="c_diff_country" class="form-control">
                        <option value="1">انتخاب کشور</option>
                        <option value="2">ایران</option>
                        <option value="3">افغانستان</option>
                        <option value="4">ترکیه</option>
                      </select>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-12">
                        <label for="c_diff_address" class="text-black">آدرس <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_address" name="c_diff_address" placeholder="آدرس دقیق" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="c_order_notes" class="text-black">توضیحات خرید</label>
                <textarea name="order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="توضیحات خود را تایپ کنید..."></textarea>
              </div>
              {% if user.is_authenticated %}
                <button class="btn" type="submit">{% trans 'Send' %}</button>
              {% else %}
                <h3>{% trans 'You must first login' %}</h3>
                <a class="btn btn-primary" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">کد تخفیف</h2>
              <div class="p-3 p-lg-5 border">
                <label for="c_code" class="text-black mb-3">کد تخفیف خود را وارد کنید</label>
                <div class="input-group w-75">
                  <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="کد تخفیف" aria-describedby="button-addon2" />
                  <div class="input-group-append">
                    <button class="btn btn-primary btn-sm px-4" type="button" id="button-addon2">اعمال تخفیف</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">سفارش شما</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>محصول</th>
                    <th>مجموع</th>
                  </thead>
                  <tbody>
                    {% for item in cart %}
                      <tr>
                        <td>
                          {{ item.product_obj.title }} <strong class="mx-2">x</strong> {{item.quantity}}
                        </td>
                        {% if item.product_obj.discount %}
                          <td>{{ item.product_obj.discount }} هزار تومان</td>
                        {% else %}
                          <td>{{ item.product_obj.price }} هزار تومان</td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                    <tr>
                      <td class="text-black font-weight-bold">
                        <strong>جمع فاکتور</strong>
                      </td>
                      <td class="text-black font-weight-bold">
                        <strong>{{cart.get_total_price}} هزار تومان</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block" onclick="window.location='thankyou.html'">پرداخت فاکتور</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </form> -->
    </div>
  </div>
  <!-- End Billing Section -->
{% endblock %}
