{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Products' %}
{% endblock %}

{% block content %}
  <!-- Start Breadcrumb Section -->
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="index.html">صفحه نخست</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">محصولات</strong>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Start Filters Section -->
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">فیلتر بر اساس قیمت</h3>
          <div id="slider-range" class="border-primary"></div>
          <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
        </div>
        <div class="col-lg-3">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">فیلتر بر اساس شرکت سازنده</h3>
          <button type="button" class="btn btn-secondary btn-md dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">شرکت سازنده</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
            <a class="dropdown-item" href="#">شرکت اول</a>
            <a class="dropdown-item" href="#">شرکت دوم</a>
            <a class="dropdown-item" href="#">شرکت سوم</a>
          </div>
        </div>
      </div>

      <div class="row">
        {% for product in products %}
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <span class="tag">فروش ویژه</span>
            <a href="{{product.get_absolute_url}}"><img style="height: 220px; width: 220px;" src="{{ product.image.url }}" alt="Image" /></a>
            <h3 class="text-dark"><a href="shop-single.html">{{ product.title }}</a></h3>
            {% if product.discount %}
              <p class="price">
                <del>{{ product.price }} هزار تومان</del>&mdash; {{ product.discount }}هزار تومان
              </p>
            {% else %}
              <p class="price">{{ product.price }}هزار تومان</p>
            {% endif %}
            
          </div>
        {% endfor %}
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div class="site-block-27">
            <ul>
              <li>
                <a href="#">&lt;</a>
              </li>
              <li class="active">
                <span>1</span>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">&gt;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Filters Section -->
{% endblock %}
