{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Products' %}
{% endblock %}

{% block content %}


  <!-- Start Filters Section -->
  <div class="site-section">
    <div class="container">
      <div class="row">
        <form>
          <div class="col-lg-6">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">{% trans "filter by price" %}:</h3>
            <label for="price">{% trans "Min" %}:<input checked name="min_price" type="number" id="price"></label>
            
            <label for="price">{% trans "Max" %}:<input checked name="max_price" type="number" id="price"></label>
            
          </div>
          <br>
          <div class="col-lg-3">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">{% trans "filter by category" %}:
              <div class="select-option">
                <select name="categories" id="room">
                  {% for category in categories_obj  %}
                    <option {% if category.title in categories %}selected{% endif %} value="{{category.title}}">{{category.title}}</option>
                  {% endfor %}
                  
                </select>
              </div>
            </h3>
            
          </div>
          <br>
          <button class="btn btn-primary" type="submit">{% trans "Filter" %}</button>
        </form>
      </div>

      <div class="row">
        {% for product in products %}
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="{{product.get_absolute_url}}"><img style="height: 220px; width: 220px;" src="{{ product.image.url }}" alt="Image" /></a>
            <h3 class="text-dark"><a href="shop-single.html">{{ product.title }}</a></h3>
            {% if product.discount %}
              <p class="price">
                <del>{{ product.price }}{% trans "$" %}</del>&mdash; {{ product.discount }}{% trans "$" %}
              </p>
            {% else %}
              <p class="price">{{ product.price }}{% trans "$" %}</p>
            {% endif %}
            
          </div>
        {% endfor %}
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div class="site-block-27">
            <ul>
              {% if products.has_previous %}
                <li>
                  <a href="?page={{products.previous_page_number}}">&lt;</a>
                </li>
              {% endif %}
              {% for i in products.paginator.page_range  %}
                {% if products.number == i %}
                  <li class="active">
                    <a href="">{{i}}</a>
                  </li>
                  {% else %}
                  <li>
                    <a href="?page={{ i }}">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if products.has_next %}
              <li>
                <a href="?page={{products.next_page_number}}">&gt;</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Filters Section -->
{% endblock %}
